.ui-grid-header-cell-row {
	background-color: #dddddd;
	color: #707070;;
	font-size: 12px;
	padding-left: 12px;
	margin-bottom: 1px;
	border-color: #dddddd;
    font-weight: bold;
    line-height: 1.42857143;
    vertical-align: middle;
}

.ui-grid-header-cell{
	border-right: none;
}

.ui-grid-cell{
	border-right: none;
	border-bottom: 1px solid #9E9B9B !important;
}

.ui-grid-cell-contents{
	text-align: center;
}

.ui-grid-header-cell-label{
	text-align: center;
}

div[id$='-0-uiGrid-0004-cell'] {
	background-color: rgba(0, 31, 255, 0.38) !important;
}

div[id$='-1-uiGrid-0004-cell'] {
	background-color: rgba(0, 31, 255, 0.38) !important;
}

div[id$='-2-uiGrid-0004-cell'] {
	background-color: rgba(0, 31, 255, 0.38) !important;
}

div[id$='-3-uiGrid-0004-cell'] {
	background-color: rgba(0, 31, 255, 0.38) !important;
}

div[id$='-4-uiGrid-0004-cell'] {
	background-color: rgba(0, 31, 255, 0.38) !important;
}

div[id$='-5-uiGrid-0004-cell'] {
	background-color: rgba(0, 31, 255, 0.38) !important;
}

div[id$='-6-uiGrid-0004-cell'] {
	background-color: rgba(255, 247, 0, 0.38) !important;
}

div[id$='-7-uiGrid-0004-cell'] {
	background-color: rgba(255, 247, 0, 0.38) !important;
}

div[id$='-8-uiGrid-0004-cell'] {
	background-color: rgba(255, 247, 0, 0.38) !important;
}

div[id$='-9-uiGrid-0004-cell'] {
	background-color: rgba(255, 247, 0, 0.38) !important;
}

div[id$='-10-uiGrid-0004-cell'] {
	background-color: rgba(255, 247, 0, 0.38) !important;
}

div[id$='-11-uiGrid-0004-cell'] {
	background-color: rgba(255, 247, 0, 0.38) !important;
}

div[id$='-12-uiGrid-0004-cell'] {
	background-color: rgba(0, 31, 255, 0.38) !important;
}

div[id$='-13-uiGrid-0004-cell'] {
	background-color: rgba(0, 31, 255, 0.38) !important;
}

div[id$='-14-uiGrid-0004-cell'] {
	background-color: rgba(0, 31, 255, 0.38) !important;
}

div[id$='-15-uiGrid-0004-cell'] {
	background-color: rgba(0, 31, 255, 0.38) !important;
}

div[id$='-16-uiGrid-0004-cell'] {
	background-color: rgba(0, 31, 255, 0.38) !important;
}

div[id$='-17-uiGrid-0004-cell'] {
	background-color: rgba(0, 31, 255, 0.38) !important;
}

.navbar{
	padding-bottom: 6px;
	background-color: rgba(254,254,254,1);
	border-bottom: 1px solid rgba(0,175,234,1);
}

.titulo-logo{
	padding-left: 10px;
	text-align: left;
	color: rgba(0,169,186,1);
}

.page-header{
	padding-left: 20px;
}

.cabecera{
	text-align: center !important;
}

.grey .ui-grid-cell-contents
{
  background-color:red;
}