<div>
    <div class="modal-header">
        <h3 class="modal-title">Filtrar..!!</h3>
    </div>
    <div class="modal-body">
      <form name="form">
        <input type="text" ng-model="a.filtro" placeholder="Filtro..."/>
      </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="button" ng-click="Filtrar()">Aplicar Filtro</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="Cancelar()">Cancelar</button>
    </div>
</div>
